
#bot-log-day tr.even,
#bot-log-day tr.odd {
  background-color: transparent;
}

#bot-log-day tr.bot-log-none {
  background-color: #edf5fa;
}

#bot-log-day tr.bot-log-nick-odd {
  background-color: #edf5fa;
}

#bot-log-day .bot-log-action {
  color: green;
}

#bot-log-day .bot-log-status {
  color: red;
}

#bot-log-filter-form {
  margin-bottom: 1em !important;
  margin-top: 1em;
}

#bot-log-filter-form #edit-bot-log-submit {
  margin-top: 10px;
}

#bot-log-filter-form .fieldset-content div, 
#bot-log-filter-form .fieldset-content label {
  display: inline;
}

#bot-log-filter-form .fieldset-content label {
  margin-left: 1em;
}